*{
    margin:0;
    padding:0;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top:0px;
}

#logo{
       margin: 10px 34px;
}

#logo img{
        height: 59px;
        margin: 3px 6px;
}
#navbar::before {
    content:"";
    background-color: rgb(199, 195, 195);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity:0.2;
}

#navbar ul{
     display:flex;
 }
.links{
    text-align: center;
}
.side{
    margin-left: 850px;
    font-size: 18px;
}
.side a{
    text-decoration: none;
    color: black;
    border-radius: 10px;
}
.side:hover{
    cursor: pointer;
    background-color: rgb(194, 188, 188);
}
#navbar ul li{
    color: ghostwhite;
    list-style: none;
    font-size: 20px;
    
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar ul li a:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5sec;
}

.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: url(/img/pexels-marek-piwnicki-11032555.jpg);
    content:"";
    background-color: rgb(199, 195, 195);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity:0.5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 50px rgba(0,0,0,0.26);
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.card-front .card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8));
    background-image: url(/img/pexels-olenka-sergienko-11188683.jpg);
   padding: 55px;
   box-sizing: border-box;
   backface-visibility: hidden;
}

.card h2{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.input-box{
     width: 100%;
     background: transparent;
     border: 1px solid #fff;
     margin: 6px 0;
     height: 32px;
     border-radius: 20px;
     padding:0 10px;
     box-sizing: border-box;
     outline: none;
     text-align: center;
     color: #fff;
}

::placeholder{
    color:#fff;
    font-size:12px;
}
button{
    width: 100%;
     background: transparent;
     border: 1px solid #fff;
     margin: 35px 0 10px;
     height: 32px;
     font-size: 12px;
     border-radius: 20px;
     padding:0 10px;
     box-sizing: border-box;
     outline: none;
     color: #fff;
     cursor: pointer;
}

.submit-btn{
    position: relative;
}
.submit-btn a{
    text-decoration: none;
    color: #fff;
}


.or{
    margin-top: 40px;
    margin-left: 160px;
}

.card .btn{
    margin-top: 50px;
}

.btn a{
    text-decoration: none;
    color: #fff;
}